/*#generalInfo *, info, infoHeading {
    margin: 0;
    padding: 0;
}*/

.generalInfo {
    padding: 0 var(--wineInfoSidePadding);
}

.info {
    text-align: center;
    margin: 5px 0;
}

.infoHeading {
    margin: 0;
}

.grey {
    color: var(--grey);
}