/** {
    margin: 0;
    padding: 0;
}*/

.otherInfo {
    padding: 0 var(--wineInfoSidePadding);
}

.heading {
    margin-bottom: 20px;
}

.infoHeading {
    margin: 0;
}

.info {
    text-align: center;
    margin: 10px 0;
}
