#rating {
    padding: 0 var(--wineInfoSidePadding);
}

#rating > div {
    display: flex;
}

    #rating .title {
        flex: 1.5;
        font-size: 0.8em;
        padding-top: 3px;
    }

    #rating .num {
        flex: 1;
        font-size: 1.2em;
        font-weight: 300;
    }

#rating .stars {
    flex: 3;
    display: flex;
    flex-direction: row;
}

    #rating .stars > div {
        flex: 1;
        background-image: url("../assets/icons/star.svg");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
    }

.grey {
    color: var(--grey);
}

#rating .col {
    height: 30px;
}