#wineProfile {
    padding: 0 var(--wineInfoSidePadding);
}

    #wineProfile .stat {
        margin-bottom: 10px;
    }

    #wineProfile .label {
        color: var(--grey);
        font-weight: 300;
    }

    #wineProfile .statmeter {
        flex: 1.8;
    }
    #wineProfile .statmeter .container {
        height: 100%;
        align-items: center;
    }

    #wineProfile .statmeter .bar {
        flex: 1;
        background: var(--grey);
        height: 5px;
        margin: 0 4px;
        border-radius: 100px;
    }

#wineProfile .lit {
    background: var(--green) !important;
}