html {
    scroll-behavior: smooth;
}

body {
    background: var(--dark);
    margin: 0;
}

* {
    color: white;
}

#back-btn {
    max-width: 20px;
    padding: 30px;
    padding-right: 30%;
    padding-bottom: 20%;
    padding-top: 35px;
    display: inline-block;
    position: fixed;
    z-index: 1000;
}

    #back-btn > svg {
        width: 100%;
    }

#cover-img {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
}

#gradient-cover > div {
    background: linear-gradient(rgba(0, 0, 0, 0), var(--dark), var(--dark));
    position: absolute;
    right: 0;
    left: 0;
    top: 64%;
    bottom: 10%;
}

#gradient-cover > span {
    background: linear-gradient(var(--red), var(--dark));
    position: absolute;
    right: 0;
    left: 0;
    top: 10%;
    bottom: 30%;
    z-index: -1;
}

#gradient-cover > section {
    background: var(--red);
    position: absolute;
    right: 0;
    left: 0;
    top: 0%;
    bottom: 90%;
    z-index: -1;
}

#wineTitle {
    position: absolute;
    bottom: 40px;
    width: 70%;
    margin-left: var(--wineInfoSidePadding);
}

    #wineTitle h1 {
        font-size: 3em;
        margin-top: 10px;
        padding: 0;
    }

    #wineTitle span {
        font-family: p22Demi;
        color: var(--grey);
        font-size: 1.2em;
    }

#moreArrow {
    opacity: 0;
    position: absolute;
    z-index: 10;
    bottom: 3%;
    left: 46%;
    right: 46%;
    top: auto;
}

#container {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
}

    #container > div {
        background: var(--dark);
        padding-top: 13%;
        padding-bottom: 8%;
    }

        #container > div:nth-child(even) {
            /*background: rgba(255, 255, 255, 0.05);*/
        }