<link href="components/generalInfo.css" rel="stylesheet" />

<div class="generalInfo">
    <h1 class="heading">GENEREL INFO</h1>

    <div class="row">
        <div class="col info">
            <h2 class="infoHeading">Drue</h2>
            Druenavn
        </div>
        <div class="col info">
            <h2 class="infoHeading">Årgang</h2>
            Årgang her
        </div>
    </div>

    <div class="row">
        <div class="col info">
            <h2 class="infoHeading">Temperatur</h2>
            Temperaturen
        </div>
        <div class="col info">
            <h2 class="infoHeading">Dekantering</h2>
            Dekantering her
        </div>
    </div>
</div>