/*#generalInfo *, info, infoHeading {
    margin: 0;
    padding: 0;
}*/

.generalInfo {
    padding: 0 20px;
}

.heading {
    margin-bottom: 20px;
}

.infoHeading {
    margin: 0;
}

.info {
    text-align: center;
    margin: 10px 0;
}