/*#generalInfo *, info, infoHeading {
    margin: 0;
    padding: 0;
}*/

.generalInfo {
    padding: 0 var(--wineInfoSidePadding);
}

    .generalInfo .info {
        /*text-align: center;*/
        margin: 5px 0;
    }

    .generalInfo:first-child .info {
        text-align: left;
    }

    .generalInfo .infoHeading {
        margin: 0;
        margin-bottom: 5px;
        font-size: 1.5em;
        font-weight: 300;
    }

    .generalInfo .grey {
        color: var(--grey);
        font-size: 0.9em;
    }
