<link href="components/generalInfo.css" rel="stylesheet" />

<div class="generalInfo">
    <h1 class="heading">GENEREL INFO</h1>

    <div class="row">
        <div class="col info">
            <h2 class="infoHeading">Temperatur</h2>
            <span class="grey">Temperaturen</span>
        </div>
        <div class="col info">
            <h2 class="infoHeading">Drue</h2>
            <span class="grey">Druenavn</span>
        </div>
    </div>

    <div class="row">
        <div class="col info">
            <h2 class="infoHeading">Årgang</h2>
            <span class="grey">Årgang her</span>
        </div>
        <div class="col info">
            <h2 class="infoHeading">Dekantering</h2>
            <span class="grey">Dekantering her</span>
        </div>
    </div>
</div>