/** {
    margin: 0;
    padding: 0;
}*/

.otherInfo {
    padding: 0 var(--wineInfoSidePadding);
}

    .otherInfo .infoHeading {
        margin: 0;
        margin-bottom: 5px;
        font-size: 1.5em;
        font-weight: 300;
    }

    .otherInfo .info {
        text-align: center;
        margin: 0px 0;
    }

    .otherInfo .grey {
        color: var(--grey);
        font-size: 0.9em;
    }
