/** {
    padding: 0;
    margin: 0;
}*/

.wineProfile {
    padding: 0 var(--wineInfoSidePadding);
}

.heading {
    margin-bottom: 20px;
}

.stat {
    margin: 10px 0;
}

.statLabel {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}

.statMeter {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.statPoint {
    display: inline-block;
    width: 20px;
    height: 5px;
    margin: 0 2px;
    border-radius: 10px;
    background-color: #504d54;
}

.active {
    background-color: var(--green);
}
