<link href="components/wineProfile.css" rel="stylesheet" />

<div class="wineProfile">
    <h1>PROFIL</h1>
    <div class="row stat">
        <div class="col label">
            Sødme
        </div>
        <div class="col statmeter">
            <div class="row container">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="row stat">
        <div class="col label">
            Syre
        </div>
        <div class="col statmeter">
            <div class="row container">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="row stat">
        <div class="col label">
            Tannin
        </div>
        <div class="col statmeter">
            <div class="row container">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="row stat">
        <div class="col label">
            Alkohol
        </div>
        <div class="col statmeter">
            <div class="row container">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="row stat">
        <div class="col label">
            Krop
        </div>
        <div class="col statmeter">
            <div class="row container">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>

<script src="components/wineProfile.js"></script>