#rating {
    padding: 0 var(--wineInfoSidePadding);
}

#rating > div {
    display: flex;
}

#rating .title {
    flex: 1.5;
    font-size: 0.8em;
}

#rating .num {
    flex: 1;
}

#rating .stars {
    flex: 3;
}

.grey {
    color: var(--grey);
}

#rating .col {
    height: 30px;
}